#title {
  font-family: "Helvetica";
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("./images/pattern.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 120px;
}

h2 {
  font-family: "Helvetica";
  font-size: 32px;
  font-weight: bold;
  color: white;
}

#brushes {
  background-color: mediumSpringGreen;
}

#frames {
  background-color: lightCoral;
}

#paint {
  background-color: skyBlue;
}

span {
  font-family: "Helvetica";
  font-weight: bold;
  color: blue;
}
